<div class="container">
  <h1 class="text-center mb-3">Keyboards</h1>
  <table class="table table-hover table-bordered">
    <tr class="text-center">
      <th>
        <span (click)="newKeyboard()">&#10010;</span>
      </th>
      <th>Name</th>
      <th>Switch Type</th>
      <th>Case Type</th>
      <th>PCB Type</th>
      <th>Keyboard Type</th>
      <th>Ergonomic</th>
      <th>Backlight</th>
      <th>Keycap Brand</th>
    </tr>
    <tr *ngFor="let keyboard of keyboards; let i = index; trackBy: i">
      <td>
        <span (click)="modifyKeyboard(keyboard)">&#9998;</span>
        <span (click)="deleteKeyboard(keyboard)">&#10008;</span>
      </td>
      <td>{{ keyboard.name }}</td>
      <td>{{ keyboard.switchType }}</td>
      <td>{{ keyboard.caseType }}</td>
      <td>{{ keyboard.pcbType }}</td>
      <td>{{ keyboard.keyboardType }}</td>
      <td>{{ keyboard.ergonomic ? 'Yes' : 'No' }}</td>
      <td>{{ keyboard.backlight }}</td>
      <td>{{ keyboard.keycaps.brand }}</td>
    </tr>
  </table>
</div>

<app-keyboard [model]="modify" (saved)="saveModify($event)"></app-keyboard>
<app-keyboard [model]="new" (saved)="saveNew($event)"></app-keyboard>
